#invoke>=1.1,<2
invoke
pytest>=6.2.1
pytest-cov
pandas>=0.23.1
matplotlib
# traits<=5.2.0
numpy>=1.17
scipy
#scikit-learn<=0.22.1
scikit-learn
codecov
sphinx
flake8
sphinx_rtd_theme
nbsphinx
mne>=0.16
h5py
